<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userdetails</title>
    <link rel="stylesheet" href="/src/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="flex">
                <li>
                    <a href="user.ejs" target="_blank"> User Diary</a>
                </li>
                <li>
                    <a href="users/new" target="_blank">Add User</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <a href="/users">
            <button class="btn btn-back"> Back </button>
        </a>
        <article class="singleUser">
            <h1>UserDetails Page</h1>
            <div class="userContent">
                <h2>UserName : <%= user.name %>
                </h2>
                <h4> Email : <%= user.email %>
                </h4>
                <p>bio : <%= user.description %>
                </p>
            </div>
            <ul class="flex">
                <li>
                    <a href="/users/<%= user.id %>/edit">
                        <button class="btn btn-pri"> Edit </button>
                    </a>
                </li>
                <li>
                    <a href="/users/<%= user.id %>/delete">
                        <button class="btn btn-sec"> Delete </button>
                    </a>
                </li>
            </ul>
        </article>
    </section>
</body>

</html>